@media screen and (max-width: 475px) {

  .ham {
    display: inline-block;
  }

  .none,.mv-none {
    display: none;
  }

  .dv-none {
    display: block;
    margin: auto auto;
  }


  header {
    width : 80%;
    height : 8rem;
    margin : auto;
    padding: 0rem 1rem;
    display : flex;
  }

  #start-btn {
    margin-top: 0;
  }
  
  .logo > img {
    padding-top: 0.8rem;
    height: 1rem;
  }
  
  .navigation {
    width: 40%;
    font-weight: var(--fw-400);
    display: none;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
  }

  .navigation div {
    cursor: pointer;
    color: var(--clr-dark-blue);
  }
  
  .intro {
    width: 80%;
    height: fit-content;
    margin: auto;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10rem;
    grid-template-areas: 
            'bar-graphs'
            'heading';
    row-gap: 1.5rem;
  }
  
  .intro-left {
    width: 100%;
    grid-area: heading;
    height: 50%;
    text-align: center;
  }
  
  .heading{
    color: var(--clr-dark-blue);
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: -1.5px;
    word-spacing: 4px;
    font-weight: var(--fw-700);
  }
  
  .low-space {
    letter-spacing: -3.8px;
  }
  
  .intro-content {
    max-width: 32ch;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 0.8rem;
    font-weight: var(--fw-400);
    line-height: 1.5rem;
    color: var(--clr-dark-grayish-blue);
  }
  
  .start-btn {
    border: none;
    background-color: var(--clr-bright-red);
    padding: 10px 26px;
    border-radius: 18px;
    font-size: 0.7rem;
    color: white;
    cursor: pointer;
    font-weight: var(--fw-700);
    box-shadow: 0px 6px 10px hsla(12, 88%, 59%, 0.3) ;
  }
  
  
  .intro-right {
    padding-top: 1rem;
    position : relative;
    grid-area: bar-graphs;
    width: 100%;
  }
  
  .bg-tablet { 
    height: 250%;
    position: absolute;
    left: 15%;
    top: -130%;
    z-index: -1;
  }
  
  .bar-graphs {
    height: 160%;
  }
  
  .features {
    width:100%;
    height: 100%;
    margin-inline: auto;
    margin-bottom: 1.5rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 2rem;
  }
  
  .features-left {
    position: relative;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .features-left > img {
    height: 115%;
    position: absolute;
    bottom: -72%;
    left: -95%;
    z-index: -2;
  }
  
  .features-heading {
    font-size: 1.7rem;
    font-weight: var(--fw-700);
    letter-spacing: -0.5px;
    word-spacing: 2px;
    color: var(--clr-dark-blue);
  }
  
  .features-heading >span {
    letter-spacing: 0px;
  }
  
  .features-content {
    margin: auto;
    max-width: 34ch;
    margin-top: 0.5rem;
    font-size: 0.8rem;
    line-height: 1.5rem;
    font-weight: var(--fw-400);
    color: var(--clr-dark-grayish-blue);
  }
  
  .features-right {
    margin-left: 1rem;
    width: 100%;
  }

  .serial-content {
    display: grid;
    grid-template-columns: 5rem;
    grid-template-areas: 
        "ser fun"
        "con con";
    gap: 0;
  }

  .ser {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    grid-area: ser;
    background-color: var(--clr-very-pale-red);
    height: 14px;
  }

  .fun {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    height: 14px;
    grid-area: fun;
    background-color: var(--clr-very-pale-red);
  }

  .con {
    grid-area: con;
  }

  .serial {
    margin: 0;
  }
  
  .serial span{
    background-color: var(--clr-bright-red);
    padding: 10px 25px;
    border-radius: 20px;
    color: white; 
  }
  
  .function-heading {
    font-size: 1rem;
    font-weight: var(--fw-700);
    letter-spacing: -1.2px;
    word-spacing: 2px;  
    color: var(--clr-dark-blue);
  }
  
  .function-content {
    max-width: 36ch;
    margin-top: 1.5rem;
    font-size: 0.8rem;
    color: var(--clr-dark-grayish-blue);
    font-weight: var(--fw-400);
    line-height: 1.5rem;
  }
  
  .feedback {
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5rem;
  }
  
  .feedback-top {
    width: 90%;
    text-align: center;
    padding: 0.5rem 0rem;
    font-size: 1.6rem;
    font-weight: var(--fw-700);
    letter-spacing: -0.5px;
    word-spacing: 2px;
    color: var(--clr-dark-blue);
  }
  
  .feedback-middle-container {
    height: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .feedback-middle {
    border: 2px solid red;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: hidden;
  }
  
  .feedback-middle-container::-webkit-scrollbar {
    width: 0;
  }
  
  .profile {
    border: 2px solid green;
    height: 70%;
    width: 80%;
    align-self: center;
    display: none;
    margin: 0rem;
    margin-top: 2rem  ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    background-color: var(--clr-very-light-gray); 
    position: relative;
  }

  .profile.active {
    display: flex;
  }
  
  .profile-img {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 4rem;
    margin-top: -4  rem;
  }
  
  .profile-name {
    padding: 1rem;
    font-size: 1rem;
    font-weight: var(--fw-700);
    letter-spacing: -1.2px;
    word-spacing: 2px;  
    color: var(--clr-dark-blue);
  }
  
  .profile-feedback {
    max-width: 38ch;
    font-size: 0.8rem;
    font-weight: var(--fw-400);
    color: var(--clr-dark-grayish-blue);
  }

  .feedback-nav button{
    padding: 3px;
    border-radius: 10px;
    background-color: var(--clr-very-pale-red);
    border: 1px solid var(--clr-bright-red);
  }
  .feedback-nav button.btnactive {
    background-color: var(--clr-bright-red);
  }
  
  .feedback-bottom {
    width: 80%;
    text-align: center;
    margin-top: -4rem;
  }
  
  footer {
    height: 65vh;
  }
  
  .highlight {
    width: 100%;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0rem;
    height: 60vh;
    background-color: var(--clr-bright-red);
    overflow: hidden;
  }
  
  
  .highlight-left {
    text-align: center;
    max-width: 22ch;
    position: relative;
    display: flex;
  }
  
  .highlight-left > img {
    position: absolute;
    left: -150%;
    top: -35%;
    height: 25.5rem;
    z-index:0;
    opacity: 0.1;
  }
  
  .highlight-content {
    max-width: 20ch;
    color: white;
    align-self: center;
    font-size: 1.8rem;
    font-weight: var(--fw-500);
    letter-spacing: -0.5px;
    align-self: center;
  }
  
  .highlight-right {
    display: flex;
  }
  
  .highlight-btn {
    position: relative;
  }
  
  .highlight-btn > img {
    display: none;
  }
  
  .more-info {
    height: 60vh;
    color: white;
    background-color: var(--clr-very-dark-blue);
    padding: 0;
    display: grid;
    grid-template-areas: 
        "up up"
        "mid mid"
        "down down";
  }

  .more-info > div {
    width: 90%;
    margin: auto;
  }

  .up {
    grid-area: up;
  }

  .mid {
    grid-area: mid;
  }

  .down {
    grid-area: down;
  }


  
  .more-info-left {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    justify-self: center;
    row-gap: 1.5rem;
  }
  
  .more-info-logo > img {
    padding-top: 0.8rem;
    height: 1.3rem;
  }

  .more-info-icons {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
  
  .more-info-icons img {
    height: 1.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
  }
  
  .more-info-middle {
    display: flex;
    justify-content: space-around;
    justify-self: center;
  }
  
  .middle-nav {
    width: 100%;
    font-size: 0.8rem;
    margin: 0.8rem;
    color: var(--clr-very-light-gray);
    cursor: pointer;
  }
  
  
  .more-info-right {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .mail-to {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  
  .inp {
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
  }
  
  .go {
    border: none;
    background-color: var(--clr-bright-red);
    color: white;
    padding: 12px 30px;
    border-radius: 18px;
    margin-left: 2px;
    cursor: pointer;
  }
  
  .copyright {
    justify-self: flex-start;
    align-self: flex-end;
    font-size: 0.8rem;
    font-weight: var(--fw-400);
    color: var(--clr-dark-grayish-blue);
  }

  .attribution {
    display: none;
  }
}