:root {
  --clr-bright-red : hsl(12, 88%, 59%);
  --clr-dark-blue : hsl(228, 39%, 23%);
  --clr-dark-grayish-blue : hsl(227, 12%, 61%);
  --clr-very-dark-blue : hsl(233, 12%, 13%);
  --clr-very-pale-red : hsl(13, 100%, 96%);
  --clr-very-light-gray : hsl(0, 0%, 98%);
  --fw-400 : 400;
  --fw-500 : 500;
  --fw-700 : 700;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 16px;
  margin: 0;
  padding : 0;
  overflow-x: hidden;
}

header {
  width : 80%;
  height : 8rem;
  margin : auto;
  padding: 0rem 1rem;
  display : flex;
  justify-content : space-between;
  align-items : center;
}

#start-btn {
  margin-top: 0;
}

.logo > img {
  padding-top: 0.8rem;
  height: 1.3rem;
}

.navigation {
  width: 40%;
  font-weight: var(--fw-400);
  display: flex;
  justify-content: space-between;
  align-items: center;
 font-size: 0.8rem;
}

.intro {
  width: 80%;
  height: 80vh;
  margin: auto;
  padding: 0rem 1rem;
  display: flex;
  justify-content: space-between;
}

.intro-left {
  width: 45%;
  padding-top: 4rem;
}

.heading{
  color: var(--clr-dark-blue);
  font-size: 2.7rem;
  line-height: 2.8rem;
  letter-spacing: -1.5px;
  word-spacing: 4px;
  font-weight: var(--fw-700);
}

.low-space {
  letter-spacing: -3.8px;
}

.intro-content {
  max-width: 32ch;
  margin-top: 1.5rem;
  font-size: 0.8rem;
  font-weight: var(--fw-400);
}

.start-btn {
  border: none;
  background-color: var(--clr-bright-red);
  padding: 10px 26px;
  border-radius: 18px;
  font-size: 0.7rem;
  color: white;
  cursor: pointer;
  font-weight: var(--fw-700);
  box-shadow: 0px 3px 10px var(--clr-bright-red);
}


.intro-right {
  width: 47%;
  padding-top: 1rem;
  position : relative;
}

.bg-tablet { 
  height: 120%;
  position: absolute;
  left: 12%;
  top: -45%;
  z-index: -1;
}

.bar-graphs {
  height: 85%;
}

.features {
  width: 80%;
  height: 80vh;
  margin-inline: auto;
  padding: 3rem 0rem;
  display: flex;
  justify-content: space-between;
}

.features-left {
  position: relative;
  width: 45%;
  display: flex;
  flex-direction: column;
}

.features-left > img {
  height: 115%;
  position: absolute;
  bottom: -72%;
  left: -95%;
  z-index: -2;
}

.features-heading {
  padding: 0.5rem 0rem;
  font-size: 2rem;
  font-weight: var(--fw-700);
  letter-spacing: -0.5px;
  word-spacing: 2px;
}

.features-heading >span {
  letter-spacing: 0px;
}

.features-content {
  max-width: 34ch;
  margin-top: 1.5rem;
  font-size: 0.8rem;
  font-weight: var(--fw-400);
}

.features-right {
  width: 47%;
  display: grid;
  grid-template-columns: 4rem auto;
  grid-template-rows: 50px 50x 50px; 
}

.serial-content, .serial {
  margin-bottom: 2rem; 
}

.function-heading {
  font-size: 1.125rem;
  font-weight: var(--fw-700);
  letter-spacing: -1.2px;
  word-spacing: 2px;  
}

.function-content {
  max-width: 42ch;
  margin-top: 1.5rem;
  font-size: 0.8rem;
  font-weight: var(--fw-400);
}

.feedback {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5rem;
}

.feedback-top {
  width: 80%;
  text-align: center;
  padding: 0.5rem 0rem;
  font-size: 2rem;
  font-weight: var(--fw-700);
  letter-spacing: -0.5px;
  word-spacing: 2px;
}

.feedback-middle-container {
  height: 17rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}

.feedback-middle {
  height: 70%;
  margin: auto 0;
  display: flex;
  overflow-y: visible;
}

.feedback-middle-container::-webkit-scrollbar {
  width: 0;
}

.profile {
  min-width: 38%;
  display: flex;
  margin-right: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style: none;
  background-color: aliceblue; 
  position: relative;
}

.profile-img {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 4rem;
  margin-top: -4  rem;
}

.profile-name {
  padding: 1rem;
  font-size: 1rem;
  font-weight: var(--fw-700);
  letter-spacing: -1.2px;
  word-spacing: 2px;  
}

.profile-feedback {
  max-width: 42ch;
  font-size: 0.8rem;
  font-weight: var(--fw-400);
}

.feedback-bottom {
  width: 80%;
  text-align: center;
  margin-top: -4rem;
}

footer {
  height: 65vh;
}

.highlight {
  display: flex;  
  justify-content: space-between;
  padding: 0 9rem;
  height: 30vh;
  background-color: var(--clr-bright-red);
  overflow: hidden;
}


.highlight-left {
  position: relative;
  display: flex;
}

.highlight-left > img {
  position: absolute;
  left: -10%;
  top: -20%;
  height: 30rem;
  z-index:0;
  opacity: 0.1;
}

.highlight-content {
  max-width: 20ch;
  color: white;
  align-self: center;
  font-size: 1.8rem;
  font-weight: var(--fw-500);
  letter-spacing: -0.5px;
  align-self: center;
}

.highlight-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlight-btn {
  position: relative;
}

.highlight-btn > img {
  position: absolute;
  opacity: 0.1;
  height: 30rem;
  bottom: 10%;
  left: 30%;
}

.start-btn-opp {
  background-color: white;
  align-self: center;
  border: none;
  padding: 10px 26px;
  border-radius: 18px;
  font-size: 0.7rem;
  color: var(--clr-bright-red);
  margin-top: 1rem;
  cursor: pointer;
  font-weight: var(--fw-700);
  box-shadow: 0px 3px 10px var(--clr-bright-red);
}

.more-info {
  height: 23vh;
  color: white;
  background-color: black;
  padding: 3rem 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.more-info-left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.more-info-logo > img {
  padding-top: 0.8rem;
  height: 1.3rem;
}

.more-info-icons img {
  height: 1rem;
  margin-right: 0.5rem;
}

.more-info-middle {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.middle-nav {
  width: 100%;
  font-size: 0.8rem;
  margin: 1rem;
}


.more-info-right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mail-to {
  align-self: flex-end;
}

.inp {
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
}

.go {
  border: none;
  background-color: var(--clr-bright-red);
  color: white;
  padding: 10px 20px;
  border-radius: 18px;
  margin-left: 2px;
}

.copyright {
  align-self: flex-end;
  font-size: 0.8rem;
  font-weight: var(--fw-400);
}

.attribution {
  font-size: 11px; text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%); 
}