@media screen and (max-width: 475px) {

  main {
    overflow-x: hidden;
  }

  .ham, .close {
    display: inline-block;
  }

  .none,.mv-none {
    display: none;
  }

  .dv-none {
    display: block;
    margin: auto auto;
  }

  .intro {
    height: fit-content;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10rem;
    grid-template-areas: 
            'bar-graphs'
            'heading';
    row-gap: 4.5rem;
  }
  
  .intro-left {
    grid-area: heading;
    position: relative;
    width: 100%;
    height: 50%;
    text-align: center;
  }

  .bg-small-tablet {
    position: absolute;
    height: 130%;
    right: -55%;
    bottom: -80%;
    z-index: -3; 
  }
  
  .heading{
    font-size: 2rem;
    line-height: 2.5rem;
    word-spacing: 4px;
  }
  
  .intro-content {
    max-width: 30ch;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  
  .intro-right {
    grid-area: bar-graphs;
    width: 100%;
    padding-top: 1rem;
    position : relative;
    display: flex;
    justify-content: center;
  }

  .mob-navigation {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 14.5rem;
    font-weight: var(--fw-700);
    font-size: 0.8rem;
    background-color: white;
    color: var(--clr-dark-blue);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0.75em rgb(0, 0, 0, 0.05), 0 0 1000vmax 0 rgb(0 0 0 / 0.5);
  }

  .flex {
    display: flex;
  }

  .mob-navigation div {
    margin: 0.5rem 0;
  }
  
  .bg-tablet { 
    height: 250%;
    position: absolute;
    left: 10%;
    top: -120%;
    z-index: -1;
  }
  
  .bar-graphs {
    height: 180%;
  }
  
  .features {
    width:100%;
    height: 100%;
    margin-bottom: 2rem;
    margin-top: 5rem;
    padding: 0;
    flex-direction: column;
    row-gap: 0.5rem;
  }
  
  .features-left {
    width: 80%;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .features-left > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .features-heading {
    max-width: 12ch;
    font-size: 1.7rem;
    text-align: center;
    margin: 0;
  }
  
  .features-content {
    margin: auto;
    margin-top: 0.5rem;
  }
  
  .features-right {
    width: 100%;
    margin-left: 1rem;
  }

  .serial-content {
    grid-template-columns: 5rem;
    grid-template-areas: 
        "ser fun"
        "con con";
    gap: 0;
  }

  .ser {
    grid-area: ser;
    height: 14px;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: var(--clr-very-pale-red);
  }

  .fun {
    grid-area: fun;
    height: 14px;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    background-color: var(--clr-very-pale-red);
  }

  .con {
    grid-area: con;
  }

  .serial {
    margin: 0;
  }
  
  .function-heading {
    font-size: 1rem;
  }
  
  .function-content {
    max-width: 36ch;
    line-height: 1.5rem;
  }
  
  .feedback {
    height: 55vh;
    margin-bottom: 1rem;
    justify-content: stretch;
    align-items: center;
    row-gap: 0rem;
  }
  
  .feedback-top {
    width: 90%;
    font-size: 1.6rem;
  }
  
  .feedback-middle-container {
    height: 24rem;
  }
  
  .feedback-middle {
    margin-top: 0;
    margin-bottom: 1rem;
    flex-direction: column;
    justify-content: center;
    overflow-y: hidden;
  }
  
  .profile {
    height: 70%;
    width: 80%;
    align-self: center;
    display: none;
    margin: 0rem;
    margin-top: 2rem;
  }

  .profile.active {
    display: flex;
  }
  
  .profile-feedback {
    max-width: 38ch;
  }

  .feedback-nav {
    margin-bottom: 2rem;
  }

  .feedback-nav button{
    padding: 3px;
    border-radius: 10px;
    border: 1px solid var(--clr-bright-red);
    background-color: var(--clr-very-pale-red);
  }
  .feedback-nav button.btnactive {
    background-color: var(--clr-bright-red);
  }
  
  .highlight {
    width: 100%; 
    height: 60%;
    padding: 0rem 0rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .highlight-left {
    max-width: 22ch;
    text-align: center;
  }
  
  .highlight-left > img {
    height: 25.5rem;
    left: -150%;
    top: -35%;
    z-index:0;
  }
  
  .highlight-btn > img {
    display: none;
  }
  
  .more-info {
    height: 100%;
    padding: 0;
    color: white;
    background-color: var(--clr-very-dark-blue);
    display: grid;
    grid-template-areas: 
        "up up"
        "mid mid"
        "down down";
  }

  .more-info > div {
    width: 90%;
    margin: auto;
  }

  .up {
    grid-area: up;
  }

  .mid {
    grid-area: mid;
  }

  .down {
    grid-area: down;
  }
  
  .more-info-left {
    margin-top: 0;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    justify-self: center;
    row-gap: 1.5rem;
  }

  .more-info-icons {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
  
  .more-info-middle {
    height: fit-content;
    justify-content: space-around;
    justify-self: center;
  }
  
  .more-info-right {
    width: 100%;
    height: 50%;
  }
  
  .mail-to {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
  }
  
  .go {
    padding: 12px 30px;
  }

  .attribution {
    margin-top: 18rem;
    background-color: var(--clr-very-dark-blue);;
  }
}